In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [3]:
# root = "/kaggle/input/jpx-tokyo-stock-exchange-prediction/"

# stock_prices = pd.read_csv(os.path.join(dirname, "stock_prices.csv"))

train = pd.read_csv("../train.csv")

data = train.set_index(["stock_id", "date_id", "seconds_in_bucket"])

data["imbalance_buy_sell"] = data.imbalance_size * data.imbalance_buy_sell_flag

In [4]:

from sklearn.linear_model import LinearRegression

params = ["target","imbalance_buy_sell", "reference_price", "matched_size"]

data = data.dropna(subset=params)

In [5]:
y = np.array(data.target).reshape(-1,1)

# model = LinearRegression(data.)
# X = [data.matched_size]

X = np.array([data.matched_size, data.imbalance_buy_sell]).reshape(-1,2)

In [6]:
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [7]:
model.coef_

predict_target = model.predict(X)

In [8]:
data

,,,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id,imbalance_buy_sell
stock_id,date_id,seconds_in_bucket,,,,,,,,,,,,,,,
0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.000000,-3.029704,0,0_0_0,3180602.69
1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.000000,-5.519986,0,0_0_1,-166603.91
2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.000000,-8.389950,0,0_0_2,-302879.87
3,0,0,11917682.27,-1,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.000000,-4.010200,0,0_0_3,-11917682.27
4,0,0,447549.96,-1,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.000000,-7.349849,0,0_0_4,-447549.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,480,540,2440722.89,-1,1.000317,28280361.74,0.999734,0.999734,1.000317,32257.04,1.000434,319862.40,1.000328,2.310276,26454,480_540_195,-2440722.89
196,480,540,349510.47,-1,1.000643,9187699.11,1.000129,1.000386,1.000643,205108.40,1.000900,93393.07,1.000819,-8.220077,26454,480_540_196,-349510.47
197,480,540,0.00,0,0.995789,12725436.10,0.995789,0.995789,0.995789,16790.66,0.995883,180038.32,0.995797,1.169443,26454,480_540_197,0.00
198,480,540,1000898.84,1,0.999210,94773271.05,0.999210,0.999210,0.998970,125631.72,0.999210,669893.00,0.999008,-1.540184,26454,480_540_198,1000898.84
199,480,540,1884285.71,-1,1.002129,24073677.32,1.000859,1.001494,1.002129,250081.44,1.002447,300167.56,1.002274,-6.530285,26454,480_540_199,-1884285.71

In [9]:
data.time_id

stock_id  date_id  seconds_in_bucket
0         0        0                        0
1         0        0                        0
2         0        0                        0
3         0        0                        0
4         0        0                        0
                                        ...
195       480      540                  26454
196       480      540                  26454
197       480      540                  26454
198       480      540                  26454
199       480      540                  26454
Name: time_id, Length: 5237760, dtype: int64

In [10]:
pd.DataFrame(predict_target).describe()

                  0
count  5.237760e+06
mean  -4.758886e-02
std    1.407781e-02
min   -1.021537e+00
25%   -4.691125e-02
50%   -4.450408e-02
75%   -4.370326e-02
max    3.338021e-01

In [11]:
from scipy import stats

stats.describe(predict_target)

DescribeResult(nobs=5237760, minmax=(array([-1.02153684]), array([0.33380211])), mean=array([-0.04758886]), variance=array([0.00019818]), skewness=array([-15.25438058]), kurtosis=array([521.29765523]))